<div class="answersContainer">
  <ul class="answers">
    <% @answers.each do |answer| %>
      <li class="single_ans">
          <h5><%= answer.text %></h5>
          <ul class="edit_buttons">
            <li>
              <%= render partial: 'votes/vote', locals: { votable: answer } %>
            </li>
            <li>
              <span class="question_user">Answered by: <span class="user"><%= link_to answer.user.username, user_path(answer.user) %></span></span>
            </li>
              <% if !!session[:id] && (session[:id] == answer.user_id) %>
              <li>
                <%= button_to "Edit", edit_question_answer_path( @question, answer ), :method => :get %>
              </li>
              <li>
                <%= button_to "Delete", question_answer_path( @question, answer ), :method => :delete %>
              </li>
            <% end %>
            <li>
              <span class="comment_button"><%= button_to "comment", new_answer_comment_path(answer), {:method => :get, remote: true, :class => "commentButton"} %></span>
            <li>
          </ul>
      </li>
      
      <%= render partial: 'shared/comments', locals: {commentable: answer} %>
    <% end %>
  </ul>
</div>