<!DOCTYPE html>
<html>
<head>
  <title>Stackoverthrow</title>
  <%= stylesheet_link_tag    "application", "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="navbar">
    <h1><a href="/">STACKOVERTHROW</a></h1>

    <ul>

      <li><%= form_tag questions_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
      <% end %></li>
      <li><a href="/">Home</a></li>
      <li><%= render 'shared/login:logout' %></li>



    </ul>
  </div>

  <div id="content_field">
    <%= yield %>
  </div>
</body>
</html>
