<ul>
  <li><%= @user.username %><br></li>
  <li>Joined <%= @user.created_at %></li>
  <br>
  <li>Questions Asked: <br> <% @user.questions.each do |question| %>
                    <%= link_to question.title, question_path(question) %> <br>
                            <% end  %>
                            <br><br>
  </li>


  <li>Answers to Questions: <br> <% @user.answers.each do |answer| %>
                    <%= link_to answer.question.title, question_path(answer.question) %> <br>
                            <% end  %></li><br>
  <li>Number of Votes: <%= @votes.length  %></li>
</ul>
