<div class="question">
  <h3><%= @question.title %></h3>
  <p><%= @question.text %></p>
  <%= button_to "Delete", question_path, :method => :delete %>
  <%= button_to "Edit", edit_question_path(@question), :method => :get %>
  <%= button_to "Answer", new_question_answer_path(@question), :method => :get %>

</div>