<div class="question">
  <%= render partial: 'votes/vote', locals: { votable: @question } %>
  <h3><%= @question.title %></h3>
  <p><%= @question.text %></p>
    <ul class="edit_buttons">
      <li></li>
      <% if !!session[:id] && session[:id] == @question.user_id %>
        <li>
          <%= button_to "Delete", question_path, {:method => :delete, :class => "deleteQuestionButton"} %>
        </li>
        <li><%= button_to "Edit", edit_question_path(@question), {:method => :get, :class => "editQuestionButton"} %>
        </li>
      <% end %>
    </ul>
  <span class="answer_button"><%= button_to "Answer", new_question_answer_path(@question), {:method => :get, :remote => true, :class => "answerButton"} %></span>
    <span class="question_user">Asked by: <span class="user"><h2><%= link_to @question.user.username, user_path(@question.user) %></h2></span></span>
</div>