<% if session[:id] %>
	<%= render 'form', :object => @question=Question.new  %>
<% else %>
	<%= render 'shared/login_button' %>
<% end %>

<div class="all_qs">
  <ul class="questions">
     <% @questions.each do |question| %>
      <li>
        <span class="vote_count"><%= question.vote_count %></span>
        <span class="question_link"><%= link_to question.title, question_path(question) %></span>
        <span class="question_user">Asked by: <span class="user"><%= question.user.username %></span></span>
      </li>
    <% end %>
  </ul>
</div>
